[Unit]
Description=Shout container
Documentation=http://shout-irc.com/docs/
Requires=docker.service
After=docker.service

[Service]
User=%i
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill shout
ExecStartPre=-/usr/bin/docker rm shout
ExecStart=/usr/bin/docker run -v /etc/shout:/config -p "9000:9000" --name=shout abaez/shout
ExecStop=-/usr/bin/docker stop -t 2 shout

[Install]
WantedBy=multi-user.target
